{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock %}

{% block content %}
    <div class=" ">
        <div class="header container is-flex is-align-items-center is-justify-content-center">
            <div class="header-content " >

                <h1 class="title is-1 is-size-3-mobile  has-text-centered">E-VISA INDIA
                </h1>

                <a href="{% url 'questions' %}" class="is-responsive button is-info is-large mx-auto is-block">Начать заполнение анкеты</a>

            </div>
        </div>
    </div>

{% endblock %}